<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Детали</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
</head>
<body>
<script>
    $(document).ready(function () {
         $('#delete_report').on('click', function () {
             $.ajax({
                 url: '{% url 'doctor:remove_report' %}',
                 data: {
                     'appointment_id': '{{ appointment.id }}'
                 },
                 dataType: 'json',
                 success: function (response) {
                     alert(response['response'])
                 }
             });
         });
    });
</script>
<h3>Детали за преглед #{{ appointment.appointment_number }}</h3>
<div>
    Пациент: {{ appointment.patient }} <br/>
    Единствен матичен број: {{ appointment.patient.ssn }} <br/>
    Број на здравствена легитимација: <i>#TODO</i> <br/>
    Единствен здравствен број на осигуреникот: <i>#TODO</i> <br/>
    Прегледот го извршил: {{ appointment.doctor }} <br/>
    Датум: {{ appointment.date }} <br/>
    Час: {{ appointment.time }} <br/>
</div>
{% if appointment.report %}
    <div>
        <h5>Дијагноза</h5>
        <div>
            {{ appointment.report.diagnosis }}
        </div>
        <h5>Терапија:</h5>
        <div>
            {{ appointment.report.therapy }}
        </div>
        <h5>Забелешка:</h5>
        <div>
            {{ appointment.report.remark }}
        </div>
    </div>
    <div style="color: darkred" id="delete_report">
        <i>ИЗБРИШИ ИЗВЕШТАЈ</i>
    </div>
{% else %}
    {% if request.user.doctor.id == appointment.doctor.id %}
        <div>
            <a href="{% url 'doctor:add_report' doctor_id=appointment.doctor.id appointment_id=appointment.id %}">Додај
                извештај...</a>
        </div>
    {% endif %}
{% endif %}

</body>
</html>