<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ patient }}</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
</head>
<body>
<script>
    $(document).ready(function () {
        $('.doctor_is_gp').on('click', function () {
            $.ajax({
                url: '{% url 'doctor:remove_self_as_gp' %}',
                data: {
                    'patient_id': $(this).attr('id')
                },
                dataType: 'json',
                success: function(response) {
                    alert(response['response'])
                }
            });
        });
        $('.no_gp').on('click', function () {
            $.ajax({
                url: '{% url 'doctor:add_self_as_gp' %}',
                data: {
                    'patient_id': $(this).attr('id')
                },
                dataType: 'json',
                success: function(response) {
                    alert(response['response'])
                }
            });
        });
    });
</script>
    <h1>Detailed patient view!!!</h1>

    <h2>Лични информации:</h2>
    <div>
        Име:     {{ patient.name }}
    </div>
    <div>
        Презиме: {{ patient.surname }}
    </div>
    <div>
        Матичен Доктор:
        {% if patient.general_practitioner is None %}
            Нема
        {% else %}
            {{ patient.general_practitioner }}
        {% endif %}
    </div>
    <div>
        {% if patient.general_practitioner is not None and patient.general_practitioner.id == request.user.doctor.id %}
            <button class="doctor_is_gp" id="{{ patient.id }}">Отстрани се како матичен доктор</button>
            <br> <br> <br>
            Tuka da stoi edna forma shto kje ima polinja za izveshtaj:  <br>
            Pri klikanjeto na submit, formata treba da kreira appointment so momentalniot logiran doktor, pacientot shto go pokazhuva, deneshen datum i bez vreme(00:00) <br>
            Isto treba da kreira izveshtaj so vnesenite informacii.

        {% elif patient.general_practitioner is None %}
            <button class="no_gp" id="{{ patient.id }}">Назначи се</button>
        {% endif %}

    </div>

    <h4>Минати прегледи</h4>
    {% for app in past_appointments %}
        <li>
            <a href=" {% url "doctor:appointment_details" request.user.id app.id%}">{{ app }}</a>
        </li>
    {% endfor %}

    <h4>Идни прегледи</h4>
    {% for app in future_appointments %}
        <li>
            <a href="{% url "doctor:appointment_details" request.user.id app.id%}">{{ app }}</a>
        </li>
    {% endfor %}
</body>
</html>