<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Матичен доктор</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <script type="text/javascript" src="//rawgit.com/vitmalina/w2ui/master/dist/w2ui.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//rawgit.com/vitmalina/w2ui/master/dist/w2ui.min.css"/>

    <style>
        .tab {
            width: 100%;
            display: none;
        }

    </style>

</head>
<body>

<div id="body_container_id">

    <h1>Матичен доктор</h1>

    <div id="tab-example" style="margin-top: 20px;">
			<div id="tabs" style="width: 100%; height: 29px;"></div>
			<div id="tab1" class="tab">
                <div>
                    <h4>Лични информации</h4>

                    Име: {{ doctor.name }} <br>
                    Презиме: {{ doctor.surname }} <br>
                    Докторска идентификација: {{ doctor.doctor_id }} <br>
                    Everything else...

                </div>
                <div>
                    <h4>Специјализација</h4>
                    Специјалист (да наведеме некако специјализации...)
                </div>

                <button>
                    <a href="{% url 'doctor:make_appointment' doctor_id=request.user.id %}">
                        Make appointment
                    </a>
                </button>

            </div>
            <div id="tab2" class="tab">
                <h4>Матични Пациенти</h4>
                <div id="grid1" style="height: 700px"></div>
                <button onclick="display_patient_details('gp');">Прикажи пациент</button>
            </div>
            <div id="tab3" class="tab">
                <h4>Пациенти без матичен доктор</h4>
                <div id="grid2" style="height: 700px"></div>
                <button onclick="display_patient_details('no_gp');">Прикажи пациент</button>
            </div>
            <div id="tab4" class="tab">
                <h4>Закажани прегледи</h4>
                OVA NE E NAPRAVENO DEKA TREBA DA VIDIME KAKO
            </div>
    </div>

    <div id="selected-tab" style="padding: 10px 0px">tab1</div>
    <div>
        <button>
            <a href="{% url 'doctor:make_appointment' doctor_id=request.user.id %}">
                Make appointment
            </a>
        </button>
    </div>
    <button>
        <a href="{% url 'login:logout_user' %}">
            Logout
        </a>
    </button>

</div>


{#<h1>Матичен доктор</h1>#}
{#<div id="tabs" style="width: 100%;"></div>#}
{#<div id="selected-tab" style="padding: 10px 0px">tab1</div>#}
{#<div>#}
{#    <button>#}
{#        <a href="{% url 'doctor:make_appointment' doctor_id=request.user.id %}">#}
{#            Make appointment#}
{#        </a>#}
{#    </button>#}
{#</div>#}
{#<button>#}
{#    <a href="{% url 'login:logout_user' %}">#}
{#        Logout#}
{#    </a>#}
{#</button>#}
<script type="text/javascript">


    var config = {
				tabs : {
					name : 'tabs',
					active : 'tab1',
					tabs : [ {
						id : 'tab1',
						caption : 'Лични информации'
					}, {
						id : 'tab2',
						caption : 'Матични пациенти'
					}, {
						id : 'tab3',
						caption : 'Слободни пациенти'
					},{
						id : 'tab4',
						caption : 'Стари прегледи'
					}, ],
					onClick : function(event) {
						$('#tab-example .tab').hide();

						$('#tab-example #' + event.target).show();
                        if(event.target == 'tab2' || event.target == 'tab3'){
						    populate_patients_list();
						    w2ui.grid1.refresh();
                            w2ui.grid2.refresh();
                        }
                        else if(event.target == 'tab4'){
{#                            populate_appointments_list();#}
                        }
						console.log(event.target + " showing now")
					}
				},
				grid1 : {
				    name: 'grid1',
                    show: {
                        toolbar: true,
                        footer: true,
                    },
                    multiSearch: true,
                    searches: [
                        { field: 'recid', caption: 'ID', type: 'int' },
                        { field: 'lname', caption: 'Презиме', type: 'text' },
                        { field: 'fname', caption: 'Име', type: 'text' },
                        { field: 'email', caption: 'Email', type: 'text'},
                        { field: 'ssn', caption: 'Матичен број', type: 'text' }
                    ],
                    columns: [
                        { field: 'recid', caption: 'ID', size: '50px', sortable: true, attr: 'align=center' },
                        { field: 'patient_id', size: '0px', hidden: true},
                        { field: 'lname', caption: 'Презиме', size: '30%', sortable: true },
                        { field: 'fname', caption: 'Име', size: '30%', sortable: true },
                        { field: 'email', caption: 'Email', size: '40%' },
                        { field: 'ssn', caption: 'Матичен број', size: '120px' }
                    ],
                    onReload: function (event) {
                        console.log("Trying to reload")
                        patients_list_populated = false
                        populate_patients_list()
                    }
                },
                grid2 : {
				    name: 'grid2',
                    show: {
                        toolbar: true,
                        footer: true,
                    },
                    multiSearch: true,
                    searches: [
                        { field: 'recid', caption: 'ID', type: 'int' },
                        { field: 'lname', caption: 'Презиме', type: 'text' },
                        { field: 'fname', caption: 'Име', type: 'text' },
                        { field: 'email', caption: 'Email', type: 'text'},
                        { field: 'ssn', caption: 'Матичен број', type: 'text' }
                    ],
                    columns: [
                        { field: 'recid', caption: 'ID', size: '50px', sortable: true, attr: 'align=center' },
                        { field: 'patient_id', size: '0px', hidden: true},
                        { field: 'lname', caption: 'Презиме', size: '30%', sortable: true },
                        { field: 'fname', caption: 'Име', size: '30%', sortable: true },
                        { field: 'email', caption: 'Email', size: '40%' },
                        { field: 'ssn', caption: 'Матичен број', size: '120px' }
                    ],
                    onReload: function (event) {
                        console.log("Trying to reload")
                        patients_list_populated = false
                        populate_patients_list()
                    }
                },

    };

    patients_list_populated = false


    function display_patient_details(button_pushed) {
        // first get patient.user.id
        if(button_pushed == 'gp'){
            recid = w2ui.grid1.getSelection()
        }
        else{
            recid = w2ui.grid2.getSelection()
        }

        if(recid.length == 0){
            w2alert("Немате селектирано пациент")
        }
        else{
            if(button_pushed == 'gp'){
                var record = w2ui.grid1.get(recid);
            }
            else{
                var record = w2ui.grid2.get(recid);
            }
            patient_id = record[0].patient_id;

            // shabanski fix
            var url_to_patient = '/doctor/' + {{ request.user.id }} + '/' + patient_id;
            window.location = document.location.origin + url_to_patient
        }
    }

    function populate_patients_list() {

        if(!patients_list_populated){
            $('#grid1').w2grid(config.grid1);
            $('#grid2').w2grid(config.grid2);
            w2ui.grid1.clear();
            w2ui.grid2.clear();
            current_rec_id_patients_gp = 1
            current_rec_id_patients_no_gp = 1


            $.ajax({
                url: '{% url 'doctor:patient_list' %}',
                dataType: 'json',
                success: function(response) {
                    total_gp = response.total_gp
                    total_no_gp = response.total_no_gp
                    console.log("Total_gp " + total_gp)
                    console.log("Total_no_gp " + total_no_gp)

                    // first we populate the first list of patients of which the doctor is a gp
                    for(i = 0 ; i < total_gp ; i++){
                        console.log(response.patients_gp[i].name)
                        console.log(response.patients_gp[i].surname)
                        console.log(response.patients_gp[i].email)
                        console.log(response.patients_gp[i].patient_id)
                        w2ui['grid1'].add([{recid: current_rec_id_patients_gp, fname: response.patients_gp[i].name, lname: response.patients_gp[i].surname, email: response.patients_gp[i].email,
                            ssn: response.patients_gp[i].ssn, patient_id: response.patients_gp[i].patient_id}]);
                        current_rec_id_patients_gp += 1
                    }

                    // next we populate the second list with patients that currently have no gp
                    for(i = 0 ; i < total_no_gp ; i++){
                        console.log(response.patients_no_gp[i].name)
                        console.log(response.patients_no_gp[i].surname)
                        console.log(response.patients_no_gp[i].email)
                        console.log(response.patients_no_gp[i].patient_id)
                        w2ui['grid2'].add([{recid: current_rec_id_patients_no_gp, fname: response.patients_no_gp[i].name, lname: response.patients_no_gp[i].surname, email: response.patients_no_gp[i].email,
                            ssn: response.patients_no_gp[i].ssn, patient_id: response.patients_no_gp[i].patient_id}]);
                        current_rec_id_patients_no_gp += 1
                    }

                }
            });
            patients_list_populated = true
            w2ui.grid1.refresh();
            w2ui.grid2.refresh();
        }

    }

    $(function() {
        $('#tabs').w2tabs(config.tabs);
        $('#tab1').show();
    });



{#    function show_personal_info() {#}
{#        var html = "" +#}
{#            "\n" +#}
{#            "<div>\n" +#}
{#            "    <h4>Лични информации</h4>\n" +#}
{#            "    Име: {{ request.user.doctor.name }} <br>\n" +#}
{#            "    Презиме: {{ request.user.doctor.surname }} <br>\n" +#}
{#            "    Докторска идентификација: {{ request.user.doctor.doctor_id }} <br>\n" +#}
{#            "    Everything else...\n" +#}
{#            "</div>\n" +#}
{#            "\n" +#}
{#            "<div>\n" +#}
{#            "    <h4>Специјализација</h4>\n" +#}
{#            "\n" +#}
{#            "    Матичен доктор\n" +#}
{#            "</div>";#}
{#        $('#selected-tab').html(html);#}
{#    }#}
{##}
{#    function show_patients_overview() {#}
{#        var html = "" +#}
{#            "<h3>Пациенти на {{ doctor.name }} {{ doctor.surname }}</h3>\n" +#}
{#            "<h2>Матични пациенти:</h2>\n" +#}
{#            "<ul>\n" +#}
{#            "    {% for patient in doctors_patients %}\n"+#}
{#                "        <li>\n"+#}
{#                "            <div>\n"+#}
{#                "                <a href=\"{% url 'doctor:patientDetails' request.user.id patient.user.id %}\"> {{ patient }} </a>\n"#}
{#                +#}
{#                "            </div>\n"+#}
{#                "        </li>\n"+#}
{#                "    {% endfor %}\n" +#}
{#            "</ul>\n" +#}
{#            "<h2>Пациенти без матичен доктор:</h2>\n" +#}
{#            "<ul>\n" +#}
{#            "    {% for patient in patients_without_gp %}\n"+#}
{#                "        <li>\n"+#}
{#                "            <div>\n"+#}
{#                "                <a href=\"{% url 'doctor:patientDetails' request.user.id patient.user.id %}\"> {{ patient }} </a>\n"#}
{#                +#}
{#                "            </div>\n"+#}
{#                "        </li>\n"+#}
{#                "    {% endfor %}\n" +#}
{#            "</ul>";#}
{#        $('#selected-tab').html(html);#}
{#    }#}
{##}
{#    function show_old_appointments() {#}
{#        var html = "<b style=\"size:large;\">OVA NE E NAPRAVENO DEKA TREBA DA VIDIME KAKO</b>";#}
{#        $('#selected-tab').html(html);#}
{#    }#}
{##}
{#    $(function () {#}
{#        $('#tabs').w2tabs({#}
{#            name: 'tabs',#}
{#            active: 'personal_info',#}
{#            tabs: [#}
{#                {id: 'personal_info', text: 'Лични информации'},#}
{#                {id: 'patients_overview', text: 'Преглед на пациенти'},#}
{#                {id: 'old_appointments', text: 'Стари прегледи'}#}
{#            ],#}
{#            onClick: function (event) {#}
{#                var tab_id = event.target;#}
{#                switch (tab_id) {#}
{#                    case 'personal_info':#}
{#                        show_personal_info();#}
{#                        break;#}
{#                    case 'patients_overview':#}
{#                        show_patients_overview();#}
{#                        break;#}
{#                    case 'old_appointments':#}
{#                        show_old_appointments();#}
{#                        break;#}
{#                }#}
{#            }#}
{#        });#}
{#    });#}
</script>

</body>
</html>