{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'doctor/doctor_style.css' %}"/>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Специјалист</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <script type="text/javascript" src="//rawgit.com/vitmalina/w2ui/master/dist/w2ui.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//rawgit.com/vitmalina/w2ui/master/dist/w2ui.min.css"/>

    <style>

    </style>

</head>
<body>

<div id="body_container">

    <div id="toolbar">
        <div style="display: inline-block; width: 53%">
            <h1 style="padding-left: 30px; color: darkblue">{{ doctor.name }} {{ doctor.surname }}</h1>
        </div>

        <div class="toolbar_links" style="width: 22%">
            <button id="btn_change_password" onclick="open_popup()" style="display:block;">
                    Промени лозинка
            </button>
        </div>
        <div class="toolbar_links">
            <a href="{% url 'login:logout_user' %}"><button style="display: block;">Одјави се</button></a>
        </div>
    </div>

    <div id="tab-example">
        <div id="tabs" style="width: 100%; height: 29px;"></div>
        <div id="tab1" class="tab">
            <h3>Лични информации</h3>
            <div>
                <div class="info_container">
                    <div class = "label_info"> Име: </div>
                    <div class="pers_info"> {{ doctor.name }} </div>
                </div>
                <div class="info_container">
                    <div class = "label_info"> Презиме: </div>
                    <div class="pers_info"> {{ doctor.surname }} </div>
                </div>
                <div class="info_container">
                    <div class = "label_info"> Докторска идентификација: </div>
                    <div class="pers_info"> {{ doctor.doctor_id }} </div>
                </div>
                <div class="info_container">
                    <div class = "label_info"> Тип на доктор: </div>
                    <div class="pers_info"> специјалист </div>
                </div>
            </div>
        </div>
        <div id="tab2" class="tab">
            <h3>Преглед на пациенти</h3>
            <div id="grid" style="height: 700px"></div>
            <button class="present_button" onclick="display_patient_details();">Детални информации за селектираниот пациент</button>
        </div>
        <div id="tab3" class="tab">
            <h3>Закажани прегледи</h3>
            <div id="grid2" style="height: 700px"></div>
            <button class="present_button" onclick="display_appointment_details();">Прикажи преглед</button>
        </div>
    </div>
</div>

<script type="text/javascript">

    var config = {
        tabs: {
            name: 'tabs',
            active: 'tab1',
            tabs: [{
                id: 'tab1',
                caption: 'Лични информации'
            }, {
                id: 'tab2',
                caption: 'Преглед на пациенти'
            }, {
                id: 'tab3',
                caption: 'Закажани прегледи'
            },],
            onClick: function (event) {
                $('#tab-example .tab').hide();

                $('#tab-example #' + event.target).show();
                if (event.target == 'tab2') {
                    populate_patients_list();
                }
                else if (event.target == 'tab3') {
                    populate_appointments_list();
                }
                console.log(event.target + " showing now")
            }
        },
        grid: {
            name: 'grid1',
            show: {
                toolbar: true,
                footer: true,
            },
            multiSearch: true,
            searches: [
                {field: 'recid', caption: 'ID ', type: 'int'},
                {field: 'lname', caption: 'Last Name', type: 'text'},
                {field: 'fname', caption: 'First Name', type: 'text'},
                {field: 'email', caption: 'Email', type: 'text'},
                {field: 'sdate', caption: 'Start Date', type: 'date'}
            ],
            columns: [
                {field: 'recid', caption: 'ID', size: '50px', sortable: true, attr: 'align=center'},
                {field: 'patient_id', size: '0px', hidden: true},
                {field: 'lname', caption: 'Last Name', size: '30%', sortable: true},
                {field: 'fname', caption: 'First Name', size: '30%', sortable: true},
                {field: 'email', caption: 'Email', size: '40%'},
                {field: 'sdate', caption: 'Start Date', render: 'date:mm/dd/yyyy', size: '120px'}
            ],
            onReload: function (event) {
                console.log("Trying to reload")
                patients_list_populated = false
                populate_patients_list()
            }
        },
        grid2: {
            name: 'grid2',
            show: {
                toolbar: true,
                footer: true,
            },
            multiSearch: true,
            searches: [
                {field: 'recid', caption: 'ID ', type: 'int'},
                {field: 'app_num', caption: 'Број на термин', type: 'text'},
                {field: 'patient_name', caption: 'Пациент', type: 'text'},
                {field: 'date', caption: 'Датум', type: 'date'},
                {field: 'time', caption: 'Време', type: 'time'}
            ],
            columns: [
                {field: 'recid', caption: 'ID', size: '50px', sortable: true, attr: 'align=center'},
                {field: 'app_id', size: '0px', hidden: true},
                {field: 'app_num', caption: 'Број на термин', size: '30%', sortable: true},
                {field: 'patient_name', caption: 'Име на Пациент', size: '30%', sortable: true},
                {field: 'time', caption: 'Време', size: '40%'},
                {field: 'date', caption: 'Датум', render: 'date:yyyy-mm-dd', size: '120px'}
            ],
            onReload: function (event) {
                console.log("Trying to reload")
                appointments_list_populated = false
                populate_appointments_list()
            }
        },

    };

    list_patients = null
    patients_list_populated = false
    appointments_list_populated = false

    current_rec_id_patients = 1
    current_rec_id_apps = 1

    function display_patient_details() {
        // first get patient.user.id
        recid = w2ui.grid1.getSelection()
        if (recid.length == 0) {
            w2alert("Немате селектирано пациент")
        }
        else {
            var record = w2ui.grid1.get(recid);
            patient_id = record[0].patient_id;

            // shabanski fix
            var url_to_patient = '/doctor/' + {{ request.user.id }} +'/' + patient_id;
            window.location = document.location.origin + url_to_patient
        }
    }

    function display_appointment_details() {
        // first get app.id
        recid = w2ui.grid2.getSelection()
        if (recid.length == 0) {
            w2alert("Немате селектирано преглед")
        }
        else {
            var record = w2ui.grid2.get(recid);
            app_id = record[0].app_id;

            // shabanski fix
            var url_to_app = '/doctor/' + {{ request.user.id }} +'/appointment/' + app_id;
            window.location = document.location.origin + url_to_app
        }
    }

    function populate_appointments_list() {
        if (!appointments_list_populated) {
            $('#grid2').w2grid(config.grid2);
            w2ui.grid2.clear();
            current_rec_id_apps = 1

            $.ajax({
                url: '{% url 'doctor:appointments_list' %}',
                dataType: 'json',
                success: function (response) {
                    total = response.total
                    console.log("Total " + total)
                    for (i = 0; i < total; i++) {
                        console.log(response.apps[i].app_num)
                        console.log(response.apps[i].app_id)
                        console.log(response.apps[i].date)
                        w2ui['grid2'].add([{
                            recid: current_rec_id_apps,
                            app_id: response.apps[i].app_id,
                            app_num: response.apps[i].app_num,
                            patient_name: response.apps[i].patient_name,
                            date: response.apps[i].date,
                            time: response.apps[i].time
                        }]);
                        current_rec_id_apps += 1
                    }
                }
            });
            appointments_list_populated = true
            w2ui.grid2.refresh();
        }
    }

    function populate_patients_list() {

        if (!patients_list_populated) {
            $('#grid').w2grid(config.grid);
            w2ui.grid1.clear();
            current_rec_id_patients = 1

            $.ajax({
                url: '{% url 'doctor:patient_list' %}',
                dataType: 'json',
                success: function (response) {
                    total = response.total
                    console.log("Total " + total)
                    for (i = 0; i < total; i++) {
                        console.log(response.patients[i].name)
                        console.log(response.patients[i].surname)
                        console.log(response.patients[i].email)
                        console.log(response.patients[i].patient_id)
                        w2ui['grid1'].add([{
                            recid: current_rec_id_patients,
                            fname: response.patients[i].name,
                            lname: response.patients[i].surname,
                            email: response.patients[i].email,
                            sdate: '10/15/2016',
                            patient_id: response.patients[i].patient_id
                        }]);
                        current_rec_id_patients += 1
                    }
                }
            });
            patients_list_populated = true
            w2ui.grid1.refresh();
        }

    }

    $(function () {
        $('#tabs').w2tabs(config.tabs);
        $('#tab1').show();
    });


  {#     CHANGE PASSWORD FUNCTIONALLITY BELLOW ==============================================================#}

    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    function validate() {
        var old_pass = $('#old_pass').val();
        var new_pass = $('#new_pass').val();
        var confirm_pass = $('#confirm_pass').val();
        if (old_pass.trim() == "" || new_pass.trim() == "" || confirm_pass == "") {
            $('#error_text').html("Мора да ги внесете сите полиња!");
            return false;
        }
        if (new_pass != confirm_pass) {
            $('#error_text').html("Новата лозинка не поклопува со потврдата!");
            return false;
        }
        return true;
    }

    function attempt_change_password(old_password, new_password, confirm_password) {
        var csrftoken = getCookie('csrftoken');
        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
        $.ajax({
            type: 'POST',
            url: '{% url 'login:change_user_password' %}',
            data: {
                'old_password': old_password,
                'new_password': new_password,
                'confirm_password': confirm_password
            },
            dataType: 'json',
            success: function (response) {
                if (response.hasOwnProperty('error')) {
                    alert(response['error'])
                } else {
                    go_to_login();
                }
            }
        });
    }

    function go_to_login() {
        location.href = '{% url 'login:index' %}';
    }

    function open_popup() {
        w2popup.open({
            title: 'Промена на лозинка',
            body: "Стара лозинка: <input type=\"password\" id=\"old_pass\"><br/><br/>\n" +
            "Нова лозинка: <input type=\"password\" id=\"new_pass\"><br/><br/>\n" +
            "Потврдете лозинка: <input type=\"password\" id=\"confirm_pass\"><br/><br/>\n" +
            "<div id=\"error_text\" style=\"color:red;\"></div><br/>" +
            "<button id=\"btn_confirm\">Потврди</button>"
        });
        $('#btn_confirm').on('click', function (event) {
            console.log("Pressed");
            if (validate()) {
                var old_pass = $('#old_pass').val();
                var new_pass = $('#new_pass').val();
                var confirm_pass = $('#confirm_pass').val();
                attempt_change_password(old_pass, new_pass, confirm_pass);
            }
        });
    }
    {#    function show_personal_info() {#}
    {#        var html = "" +#}
    {#            "<div>\n" +#}
    {#            "    <h4>Лични информации</h4>\n" +#}
    {#            "    Име: {{ doctor.name }} <br>\n" +#}
    {#            "    Презиме: {{ doctor.surname }} <br>\n" +#}
    {#            "    Докторска идентификација: {{ doctor.doctor_id }} <br>\n" +#}
    {#            "    Everything else...\n" +#}
    {#            "</div>\n" +#}
    {#            "\n" +#}
    {#            "<div>\n" +#}
    {#            "    <h4>Специјализација</h4>\n" +#}
    {#            "\n" +#}
    {#            "    Специјалист (да наведеме некако специјализации...)\n" +#}
    {#            "</div>";#}
    {#        $('#selected-tab').html(html);#}
    {#    }#}
    {##}
    {#    function show_patients_overview() {#}
    {#        var html = "" +#}
    {#            "<h3>Пациенти на {{ doctor.name }} {{ doctor.surname }}</h3>\n" +#}
    {#            "<h2>Прегледани пациенти:</h2>\n" +#}
    {#            "<ul>\n" +#}
    {#            "    {% for patient in doctors_patients %}\n"+#}
    {#                "        <li>\n"+#}
    {#                "            <div>\n"+#}
    {#                "                <a href=\"{% url 'doctor:patientDetails' request.user.id patient.user.id %}\"> {{ patient }} </a>\n"#}
    {#                +#}
    {#                "            </div>\n"+#}
    {#                "        </li>\n"+#}
    {#                "    {% endfor %}\n" +#}
    {#            "</ul>";#}
    {#        $('#selected-tab').html(html);#}
    {#    }#}
    {##}
    {#    function show_old_appointments() {#}
    {#        var html = "" +#}
    {#            "<h3>Термини на {{ doctor.name }} {{ doctor.surname }}</h3>\n" +#}
    {#            "{% if old_appointments.count == 0 %}\n"+#}
    {#                "    <div>\n"+#}
    {#                "        <i>Историјата на термини е празна.</i>\n"+#}
    {#                "    </div>\n"+#}
    {#                "{% else %}\n"+#}
    {#                "    <ul>\n"+#}
    {#                "        {% for appointment in old_appointments %}\n"+#}
    {#                    "            <li>\n"+#}
    {#                    "                <div style=\"border: solid; color: mediumaquamarine;\">\n"+#}
    {#                    "                    Број на термин: <b>{{ appointment.appointment_number }}</b><br/>\n"+#}
    {#                    "                    Пациент: <b>{{ appointment.patient }}</b><br/>\n"+#}
    {#                    "                    Датум: <b>{{ appointment.date }}</b><br/>\n"+#}
    {#                    "                    Време: <b>{{ appointment.time }}</b><br/>\n"+#}
    {#                    "                    <a href=\"{% url 'doctor:appointment_details' doctor_id=appointment.doctor.user.id appointment_id=appointment.id %}\">Извештај</a>\n"#}
    {#                    +#}
    {#                    "                </div>\n"+#}
    {#                    "            </li>\n"+#}
    {#                    "        {% endfor %}\n"+#}
    {#                "    </ul>\n"+#}
    {#                "{% endif %}";#}
    {#        $('#selected-tab').html(html);#}
    {#    }#}

    function show_upcoming_appointments() {
        var html = "" +
            "<h3>Закажани термини на {{ doctor.name }} {{ doctor.surname }}</h3>\n" +
            "{% if upcoming_appointments.count == 0 %}\n"+
                "    <div>\n"+
                "        <i>Немате закажани термини</i>\n"+
                "    </div>\n"+
                "{% else %}\n"+
                "    <ul>\n"+
                "        {% for appointment in upcoming_appointments %}\n"+
                    "            <li>\n"+
                    "                <div style=\"border: solid; color: mediumaquamarine;\">\n"+
                    "                    Број на термин: <b>{{ appointment.appointment_number }}</b><br/>\n"+
                    "                    Пациент: <b>{{ appointment.patient }}</b><br/>\n"+
                    "                    Датум: <b>{{ appointment.date }}</b><br/>\n"+
                    "                    Време: <b>{{ appointment.time }}</b><br/>\n"+
                    "                    <a href=\"{% url 'doctor:appointment_details' doctor_id=appointment.doctor.user.id appointment_id=appointment.id %}\">Извештај</a>\n"
                    +
                    "                </div>\n"+
                    "            </li>\n"+
                    "        {% endfor %}\n"+
                "    </ul>\n"+
                "{% endif %}";
        $('#tab3').html(html);
    }

    {#    $(function () {#}
    {#        $('#tabs').w2tabs({#}
    {#            name: 'tabs',#}
    {#            active: 'personal_info',#}
    {#            tabs: [#}
    {#                {id: 'personal_info', text: 'Лични информации'},#}
    {#                {id: 'patients_overview', text: 'Преглед на пациенти'},#}
    {#                {id: 'old_appointments', text: 'Изминати термини/прегледи'},#}
    {#                {id: 'upcoming_appointments', text: 'Закажани термини/прегледи'}#}
    {#            ],#}
    {#            onClick: function (event) {#}
    {#                var tab_id = event.target;#}
    {#                switch (tab_id) {#}
    {#                    case 'personal_info':#}
    {#                        show_personal_info();#}
    {#                        break;#}
    {#                    case 'patients_overview':#}
    {#                        show_patients_overview();#}
    {#                        break;#}
    {#                    case 'old_appointments':#}
    {#                        show_old_appointments();#}
    {#                        break;#}
    {#                    case 'upcoming_appointments':#}
    {#                        show_upcoming_appointments();#}
    {#                        break;#}
    {#                }#}
    {#            }#}
    {#        });#}
    {#    });#}
    {##}
    {#    $(document).ready(function () {#}
    {#        show_personal_info();#}
    {#    });#}
</script>
</body>
</html>