#body_container{
    background: white;
    width: 700px;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    /*margin: auto;*/
    height: 500px;
    border: solid lightblue 5px;
}

form {
    width: 400px;
    position: relative;
    padding-left: 70px;
    font-size: 24px;
    margin-top: 50px;
    margin-left: 50px;

}

input{
    float:right;
}

a{
    border: solid 1px black;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

/*#id_username{*/
    /*visibility: hidden;*/
/*}*/