{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'login/style.css' %}"/>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>

    {#    <style>#}
    {#        .helptext{#}
    {#              visibility: hidden;#}
    {#        }#}
    {##}
    {##}
    {#    </style>#}

</head>
<body>
<div id="body_container">
    <h1 style="margin-left: 120px; margin-top: 50px">Најави се</h1>

    <form id="login_form_id" action="?" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input style="margin-top: 10px; font-size: 20px" type="submit" value="Логирај се">
    </form>

    <div style="height: 160px"></div>

    <div style="padding-left: 30px">
        <a href="{% url 'login:register_patient' %}">Регистрирај се како пациент</a>
        <a href="{% url 'login:register_doctor' %}">Регистрирај се како доктор</a>
    </div>

</div>

</body>
</html>