{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'login/register_style.css' %}"/>


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Doctor</title>
</head>
<body>

    <div id="body_container">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button style="float: right; margin-top: 30px; font-size: 20px;" type="submit">Регистрирај се</button>
        </form>

        <a href="{% url 'login:index' %}"><button style="margin-top: -21px; margin-left: 180px; font-size: 20px;">Назад</button></a>
    </div>

</body>
</html>