<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Лични информации</title>
</head>
<body>
    <h3>Лични информации</h3>
    <div>
        Име: <b>{{ patient.name }}</b><br/>
        Презиме: <b>{{ patient.surname }}</b><br/>
        Матичен број: <b>{{ patient.ssn }}</b><br/>
        Датум на раѓање: <b>{{ patient.date_of_birth }}</b><br/>
        Адреса на живеење: <b>{{ patient.address }}</b><br/>
        email: <b>{{ patient.user.email }}</b><br/>
        Матичен доктор: <b>{{ patient.general_practitioner }}</b><br/>
    </div>

    <a href="{% url 'patient:old_appointments' patient.user.id %}">Стари термини</a> <br/>
    <a href="{% url 'patient:upcoming_appointments' patient.user.id %}">Закажани термини</a> <br/>
    <a href="{% url 'login:logout_user' %}">Одјави се</a><br/>
</body>
</html>