<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Лични информации</title>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <script type="text/javascript" src="//rawgit.com/vitmalina/w2ui/master/dist/w2ui.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//rawgit.com/vitmalina/w2ui/master/dist/w2ui.min.css"/>
</head>
<body>
{#<h3>Лични информации</h3>#}
{#<div>#}
{#    Име: <b>{{ patient.name }}</b><br/>#}
{#    Презиме: <b>{{ patient.surname }}</b><br/>#}
{#    Матичен број: <b>{{ patient.ssn }}</b><br/>#}
{#    Датум на раѓање: <b>{{ patient.date_of_birth }}</b><br/>#}
{#    Адреса на живеење: <b>{{ patient.address }}</b><br/>#}
{#    email: <b>{{ patient.user.email }}</b><br/>#}
{#    Матичен доктор: <b>{{ patient.general_practitioner }}</b><br/>#}
{#</div>#}
{##}
{#<a href="{% url 'patient:old_appointments' patient.user.id %}">Стари термини</a> <br/>#}
{#<a href="{% url 'patient:upcoming_appointments' patient.user.id %}">Закажани термини</a> <br/>#}
{#<a href="{% url 'login:logout_user' %}">Одјави се</a><br/>#}

<div id="tabs" style="width: 100%;"></div>
<div id="selected-tab" style="padding: 10px 0">
    {#    <div>#}
    {#        Име: <b>{{ patient.name }}</b><br/>#}
    {#        Презиме: <b>{{ patient.surname }}</b><br/>#}
    {#        Матичен број: <b>{{ patient.ssn }}</b><br/>#}
    {#        Датум на раѓање: <b>{{ patient.date_of_birth }}</b><br/>#}
    {#        Адреса на живеење: <b>{{ patient.address }}</b><br/>#}
    {#        email: <b>{{ patient.user.email }}</b><br/>#}
    {#        Матичен доктор: <b>{{ patient.general_practitioner }}</b><br/>#}
    {#        <a href="{% url 'login:logout_user' %}">Одјави се</a>#}
    {#    </div>#}
</div>
<script type="text/javascript">

    function show_personal_info() {
        var html = "<div>\n" +
            "    Име: <b>{{ patient.name }}</b><br/>\n" +
            "    Презиме: <b>{{ patient.surname }}</b><br/>\n" +
            "    Матичен број: <b>{{ patient.ssn }}</b><br/>\n" +
            "    Датум на раѓање: <b>{{ patient.date_of_birth }}</b><br/>\n" +
            "    Адреса на живеење: <b>{{ patient.address }}</b><br/>\n" +
            "    email: <b>{{ patient.user.email }}</b><br/>\n" +
            "    Матичен доктор: <b>{{ patient.general_practitioner }}</b><br/>\n" +
            "    <a href=\"{% url 'login:logout_user' %}\">Одјави се</a>" +
            "    </div>" +
            "<button id=\"btn_change_password\">\n" +
            "    Промени лозинка\n" +
            "</button>";

        $('#selected-tab').html(html);
    }

    function show_old_appointments() {
        var html = "{% if old_appointments.count == 0 %}\n"+
            "    <div>\n"+
            "        <i>Историјата на термини е празна.</i>\n"+
            "    </div>\n"+
            "{% else %}\n"+
            "    <ul>\n"+
            "        {% for appointment in old_appointments %}\n"+
                "            <li>\n"+
                "                <div style=\"border: solid; color: mediumaquamarine;\">\n"+
                "                    Број на термин: <b>{{ appointment.appointment_number }}</b><br/>\n"+
                "                    Доктор: <b>{{ appointment.doctor }}</b><br/>\n"+
                "                    Датум: <b>{{ appointment.date }}</b><br/>\n"+
                "                    Време: <b>{{ appointment.time }}</b><br/>\n"+
                "                    <a href=\"{% url 'patient:appointment_details' patient_id=appointment.patient.user.id appointment_id=appointment.id %}\">Извештај</a>\n"
                +
                "                </div>\n"+
                "            </li>\n"+
                "        {% endfor %}\n"+
            "    </ul>\n"+
            "{% endif %}";
        $('#selected-tab').html(html);
    }

    function show_upcoming_appointments() {
        var html = "{% if upcoming_appointments.count == 0 %}\n"+
            "    <div>\n"+
            "        <i>Немате закажани термини.</i>\n"+
            "    </div>\n"+
            "{% else %}\n"+
            "    <ul>\n"+
            "        {% for appointment in upcoming_appointments %}\n"+
                "            <li>\n"+
                "                <div style=\"border: solid; color: mediumaquamarine;\">\n"+
                "                    Број на термин: <b>{{ appointment.appointment_number }}</b><br/>\n"+
                "                    Доктор: <b>{{ appointment.doctor }}</b><br/>\n"+
                "                    Датум: <b>{{ appointment.date }}</b><br/>\n"+
                "                    Време: <b>{{ appointment.time }}</b><br/>\n"+
                "                    <a href=\"{% url 'patient:appointment_details' patient_id=appointment.patient.user.id appointment_id=appointment.id %}\">Извештај</a>\n"
                +
                "                </div>\n"+
                "            </li>\n"+
                "        {% endfor %}\n"+
            "    </ul>\n"+
            "{% endif %}";
        $('#selected-tab').html(html);
    }

    function show_personal_info_ajax() {
        $.ajax({
            url: '{% url 'patient:get_patient_personal_info' %}',
            data: {
                'patient_id': '{{ patient.id }}'
            },
            dataType: 'json',
            success: function (response) {
                if (response.hasOwnProperty('error')) {
                    var html = response['error']
                    $('#selected-tab').html(html);
                } else {
                    var html = "<div>\n" +
                        "    Име: <b>" + response['name'] + "</b><br/>\n" +
                        "    Презиме: <b>" + response['surname'] + "</b><br/>\n" +
                        "    Матичен број: <b>" + response['ssn'] + "</b><br/>\n" +
                        "    Датум на раѓање: <b>" + response['date_of_birth'] + "</b><br/>\n" +
                        "    Адреса на живеење: <b>" + response['address'] + "</b><br/>\n" +
                        "    email: <b>" + response['email'] + "</b><br/>\n" +
                        "    Матичен доктор: <b>" + response['gp'] + "</b><br/>\n" +
                        "    <a href=\"{% url 'login:logout_user' %}\">Одјави се</a>" +
                        "    </div>";
                    $('#selected-tab').html(html);
                }
            }
        })
    }

    function show_old_appointments_ajax() {
        $.ajax({
            url: '{% url 'patient:get_old_appointments' %}',
            data: {
                'patient_id': '{{ patient.id }}'
            },
            dataType: 'json',
            success: function (response) {
                if (response.hasOwnProperty('error')) {
                    var html = response['error'];
                    $('#selected-tab').html(html);
                } else {
                    if (response.length === 0) {
                        var html =
                            "<div>\n" +
                            "    <i>Историјата на термини е празна.</i>\n" +
                            "</div>\n";
                        $('#selected-tab').html(html);
                        return;
                    }
                    var html = "<ul>";
                    for (var i = 0; i < response.length; ++i) {
                        var app = response[i];
                        html +=
                            "<li>\n" +
                            "                <div style=\"border: solid; color: mediumaquamarine;\">\n" +
                            "                    Број на термин: <b>" + app['number'] + "</b><br/>\n" +
                            "                    Доктор: <b>" + app['doctor'] + "</b><br/>\n" +
                            "                    Датум: <b>" + app['date'] + "</b><br/>\n" +
                            "                    Време: <b>" + app['time'] + "</b><br/>\n" +
                            {#                            "                    <a href=\"{% url 'patient:appointment_details' patient_id=patient.user.id appointment_id=appointment.id %}\">Извештај</a>\n" +#}
                            "                </div>\n" +
                            "            </li>"
                    }
                    html += "</ul>";
                    $('#selected-tab').html(html);
                }
            }
        })
    }

    function show_upcoming_appointments_ajax() {
        $.ajax({
            url: '{% url 'patient:get_upcoming_appointments' %}',
            data: {
                'patient_id': '{{ patient.id }}'
            },
            dataType: 'json',
            success: function (response) {
                if (response.hasOwnProperty('error')) {
                    var html = response['error'];
                    $('#selected-tab').html(html);
                } else {
                    if (response.length === 0) {
                        var html =
                            "<div>\n" +
                            "    <i>Немате закажани термини.</i>\n" +
                            "</div>\n";
                        $('#selected-tab').html(html);
                        return;
                    }
                    var html = "<ul>";
                    for (var i = 0; i < response.length; ++i) {
                        var app = response[i];
                        html +=
                            "<li>\n" +
                            "                <div style=\"border: solid; color: mediumaquamarine;\">\n" +
                            "                    Број на термин: <b>" + app['number'] + "</b><br/>\n" +
                            "                    Доктор: <b>" + app['doctor'] + "</b><br/>\n" +
                            "                    Датум: <b>" + app['date'] + "</b><br/>\n" +
                            "                    Време: <b>" + app['time'] + "</b><br/>\n" +
                            {#                            "                    <a href=\"{% url 'patient:appointment_details' patient_id=appointment.patient.user.id appointment_id=appointment.id %}\">Извештај</a>\n" +#}
                            "                </div>\n" +
                            "            </li>"
                    }
                    html += "</ul>";
                    $('#selected-tab').html(html);
                }
            }
        })
    }

    $(function () {
        $('#tabs').w2tabs({
            name: 'tabs',
            active: 'personal_info',
            tabs: [
                {id: 'personal_info', text: "Лични информации"},
                {id: 'old_appointments', text: "Изминати термини/прегледи"},
                {id: 'upcoming_appointments', text: "Закажани термини"}
            ],
            onClick: function (event) {
                var tab_id = event.target;
                switch (tab_id) {
                    case 'personal_info':
                        show_personal_info();
                        break;
                    case 'old_appointments':
                        show_old_appointments();
                        break;
                    case 'upcoming_appointments':
                        show_upcoming_appointments();
                        break;
                }
            }
        });
    });

    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    function validate() {
        var old_pass = $('#old_pass').val();
        var new_pass = $('#new_pass').val();
        var confirm_pass = $('#confirm_pass').val();
        if (old_pass.trim() == "" || new_pass.trim() == "" || confirm_pass == "") {
            $('#error_text').html("Мора да ги внесете сите полиња!");
            return false;
        }
        if (new_pass != confirm_pass) {
            $('#error_text').html("Новата лозинка не поклопува со потврдата!");
            return false;
        }
        return true;
    }

    function open_popup() {
        w2popup.open({
            title: 'Промена на лозинка',
            body: "Стара лозинка: <input type=\"password\" id=\"old_pass\"><br/><br/>\n" +
            "Нова лозинка: <input type=\"password\" id=\"new_pass\"><br/><br/>\n" +
            "Потврдете лозинка: <input type=\"password\" id=\"confirm_pass\"><br/><br/>\n" +
            "<div id=\"error_text\" style=\"color:red;\"></div><br/>" +
            "<button id=\"btn_confirm\">Потврди</button>"
        });
        $('#btn_confirm').on('click', function (event) {
            console.log("Pressed");
            if (validate()) {
                var old_pass = $('#old_pass').val();
                var new_pass = $('#new_pass').val();
                var confirm_pass = $('#confirm_pass').val();
                attempt_change_password(old_pass, new_pass, confirm_pass);
            }
        });
    }

    function go_to_login() {
        location.href = '{% url 'login:index' %}';
    }

    function attempt_change_password(old_password, new_password, confirm_password) {
        var csrftoken = getCookie('csrftoken');
        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
        $.ajax({
            type: 'POST',
            url: '{% url 'patient:change_user_password' %}',
            data: {
                'old_password': old_password,
                'new_password': new_password,
                'confirm_password': confirm_password
            },
            dataType: 'json',
            success: function (response) {
                if (response.hasOwnProperty('error')) {
                    alert(response['error'])
                } else {
                    go_to_login();
                }
            }
        });
    }

    $(document).ready(function () {
        show_personal_info();
        var csrftoken = getCookie('csrftoken');
        $('#btn_change_password').on('click', function (event) {
            open_popup();
        });
    });
</script>
</body>
</html>